<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom 404</title>
</head>
<body>
<h1>Custom book shelf 404 Page (not found)</h1>
<p th:text = "${errorMessage}"></p>
<a href="/simple_mvc_war_exploded/login">back to login page</a>
</body>
</html>